/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Con v3, esta es la forma recomendada de aplicar estilos
  globales, y ahora sí funcionará.
*/
body {
  @apply bg-background text-text font-sans;
  padding: 1rem;
}

@media (max-width: 768px) {
  body {
    padding: 0.5rem;
  }
}