@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    @apply m-0 p-0 w-full h-full overflow-x-hidden bg-background text-white font-sans;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@layer components {

  /* Liquid Distortion Effect */
  .liquid-distortion {
    filter: url(#liquid-distortion);
  }

  /* Utility for hiding scrollbar but keeping functionality */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}