.view-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.view-toggle button {
  padding: 5px 10px;
  background: #1db954; /* verde Apple/Spotify */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.view-toggle button.active {
  background: #fff;
  color: #000;
}
