/* src/components/cards/Card.css */

.card-container {
  position: relative;
  background-color: var(--bg-medium);
  padding: var(--spacing-md);
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.card-container:hover {
  background-color: var(--bg-light);
}

.card-container img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: var(--spacing-sm);
  aspect-ratio: 1;
}

.card-container h3 {
    font-size: 1rem;
    margin-bottom: var(--spacing-xs);
}

.card-container p {
    font-size: 0.9rem;
    color: var(--text-muted);
}

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px; /* Ajusta esto */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.card-container:hover .play-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: all;
}

.play-overlay-btn {
  background: var(--primary);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.card-container:hover .play-overlay-btn {
  transform: scale(1);
  opacity: 1;
}

.play-overlay-btn:hover {
  transform: scale(1.1);
}

.play-icon {
  color: white;
  font-size: 20px;
}